#header{
    background: #fff;
    color: #000;
    z-index: 2;
    position: relative;
    

}
.header-banner {
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 18px;
    padding: 5px 15px;
    text-transform: uppercase;
    
}
#header-nav-wrapper {
    width: 100%;
    float: left;
    background: #fff;
    z-index: 99;
    border-bottom: 2px solid #000;
}
#header .header-nav {
    margin: 15px 0;
    width: 100%;
    float: left;
    position: relative;
    z-index: 1;
}
#header .header-nav .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
#header .header-nav .header-wrapper .item-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.h1 {
    font-family: Montserrat,sans-serif;
}
.h1, h1 {
    font-size: 1.375rem;
}
#header .header-nav .header-wrapper .item-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-left: 32px;
    position: relative;
}
li {
    display: inline;
    margin-right: 20px;
}

img{
    max-width: 100%; 
   
}

#ban1{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    
}

/*items*/

.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

#rebaja{
    color: red;
    text-decoration: line-through;
}



/* Estilos para el botón */
.boton {
    display: inline-block;
    padding: 10px 20px; /* Tamaño del botón */
    font-size: 16px; /* Tamaño del texto */
    text-align: center;
    text-decoration: none;
    background-color: green; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efecto de transición */
}

.boton:hover {
    background-color: red; /* Cambia el color de fondo al pasar el mouse por encima */
}

h2{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#foot{ /* txt de Mtd de pago*/
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
    color: #353333;
    font-style: oblique;

}

/* Estilos para el pie de página */
footer {
    background-color: #000000; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto en el pie de página */
    text-align: center;
    
}

.contenido-pie {
    max-width: 1200px; /* Ancho máximo del contenido del pie de página */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

.contenedor-pagos {
   
    padding: 5px;
    
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

/* Estilos para la lista de métodos de pago */
ul .icons {
    list-style-type: none;
    padding: 0;
}

li .icons {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

li img {
    width: 25px;
    height: 20px;
}



/* Estilos agregados a page Product */

.pro{
    margin-top: 100px;
    background-color: white;
    text-align: center;
    border-bottom: 2px solid #000
}

#prod{
   
    font-size: medium;
}

/* Estilos agregados a page Acerca*/
.contenido {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

iframe{
    width: -webkit-fill-available
   
}

#marca{
    width: -webkit-fill-available
}

/*Estilos agregados a rebajas*/
.Sale{
    width: -webkit-fill-available;   
}

/* Estilos agregados a page Ayuda */

.cambios li{

    display: block;
    text-overflow: ellipsis;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
form {
    display: flex;
    flex-direction: column;
}
label, input, textarea {
    margin-bottom: 10px;
}
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #555;
}